doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/start.js")
  body
    #mocha
    .container
      .row
        .col-md-6
          h2 Mailvelope Client API Tests
      .row#setup
        .col-md-6
          textarea#intro(rows="12", style="width: 100%")
      .row
        .col-md-2
          a#startBtn.btn.btn-primary.disabled(href="/unit") Start unit tests
        .col-md-2
          a.btn.btn-default(href="/manual") Switch to manual tests
        .col-md-2
          a.btn.btn-default(href="/settings") Open Settings
