doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/start.js")
  body
    #mocha
    .container
      h2 Mailvelope Client API Tests

      .panel.panel-default#setup
        .panel-heading
          h3.panel-title Automatic Unit test
        .panel-body
          .form-group
            textarea#intro.form-control(rows="12", style="width: 100%")
        .panel-footer
          .btn-group(role=group)
            a#startBtn.btn.btn-primary(href="/unit") Start unit tests
            a.btn.btn-default(href="/manual") Switch to manual tests
