doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/mailvelope-manual-test.js")
  body
    .container
      .row
        .col-md-6
          h2 Manual Tests
        .col-md-2
          a.btn.btn-default(href="/") Back to start page
      .row
        .col-md-2
          button#clearBtn.btn.btn-default Clear
        .col-md-2
          button#initEditorBtn.btn.btn-default Init editor
      .row
        .col-md-8
          h3 Encrypt message:
      .row
        .col-md-8
          #editor_cont(style="height: 350px")
      .row
        .col-md-2
          button#encryptBtn.btn.btn-primary Encrypt
        .col-md-4
            label Time in (ms):
            input#encryptTime(disabled)
      .row
        .col-md-8
          h3 Decrypt message:
      .row
        .col-md-8
          textarea#armored_msg(rows="12", style="width: 100%")
      .row
        .col-md-2
          button#decryptBtn.btn.btn-primary Decrypt
        .col-md-4
            label Time in (ms):
            input#decryptTime(disabled)
      .row
        .col-md-8
          h3 Decrypted message in DisplayContainer
      .row
        .col-md-8
          #display_cont(style="height: 350px")
      .row
        .col-md-8
          h3 Import public key:
      .row
        .col-md-8
          textarea#armored_key(rows="12", style="width: 100%")
      .row
        .col-md-2
          button#importBtn.btn.btn-primary Import
        .col-md-4
            label Result status:
            input#importStatus(disabled)
