doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/mailvelope-manual-test.js")
  body
    .container
      .row
        .col-sm-8
          h2 Manual Tests
        .col-sm-4
          p.text-right
            a.btn.btn-default(href="/") Back to start page

      p
        .btn-group
          button#clearBtn.btn.btn-default Clear
          button#initEditorBtn.btn.btn-default Init editor

      .panel.panel-default
        .panel-heading
          h3.panel-title Encrypt message:
        .panel-body
          #editor_cont(style="height: 350px;margin-bottom:1em")
          .form-group
            .input-group
              span.input-group-btn
                button#encryptBtn.btn.btn-primary Encrypt
              span.input-group-addon Time in (ms):
              input#encryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypt message:
        .panel-body
          .form-group
            textarea#armored_msg(rows="12", style="width: 100%").form-control
          .form-group
            .input-group
              span.input-group-btn
                button#decryptBtn.btn.btn-primary Decrypt
              span.input-group-addon Time in (ms):
              input#decryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypted message in DisplayContainer
        .panel-body
          #display_cont(style="height: 350px")

      .panel.panel-default
        .panel-heading
          h3.panel-title Import public key:
        .panel-body
          .form-group
            textarea#armored_key(rows="12", style="width: 100%").form-control
          .form-group
            .input-group
              span.input-group-btn
                button#importBtn.btn.btn-primary Import
              span.input-group-addon Result status:
              input#importStatus(disabled).form-control

      .panel.panel-default
        .panel-heading
          h3.panel-title KeyGen &amp; PrivateKeyBackup Generator:
        .panel-body
          #private_key_backup_cont(style="height: 350px;margin-bottom:1em")
        .panel-footer
          .btn-group(role=group)
            button#createKeyGenGeneratorBtn.btn.btn-primary create KeyGen Container
            button#generateGeneratorBtn.btn(disabled) generate
            button#createKeyBackupContainerBtn.btn.btn-default create Backup
