doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/bootstrap.bundle.min.js")
    script(src="javascripts/mailvelope-manual-test.js")
  body
    .container.py-3
      header
        .d-flex.flex-column.flex-md-row.align-items-center.pb-3.mb-4.border-bottom
          a.d-flex.align-items-center.link-body-emphasis.text-decoration-none(href="/manual")
            span.fs-4 Manual Tests
          nav.d-inline-flex.mt-2.mt-md-0.ms-md-auto
            a.me-3.py-2.link-body-emphasis.text-decoration-none(href="/") Back to start page
      main
        .row.row-cols-1.row-cols-md-1.mb-3
          .col
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Encrypt message
              .card-body
                .row
                  .col-sm-6
                    .input-group
                      span.input-group-text From:
                      input#senderAddress.form-control(value="test@mailvelope.com")
                  .col-sm-6
                    .input-group
                      span.input-group-text To:
                      input#toAddress.form-control(value="test@mailvelope.com")
                .btn-group.mt-4(role="group")
                  button#clearBtn.btn.btn-outline-primary(type="button") Clear
                  button#initEditorBtn.btn.btn-outline-primary(type="button") Init editor
                  button#restoreDraftBtn.btn.btn-outline-primary(type="button") Restore draft
                #editorCont(style="height: 450px;margin:1em 0")
                .button-toolbar
                  button#encryptBtn.btn.btn-primary(type="button") Encrypt
                  button#draftBtn.btn.btn-secondary(type="button") Create draft
                  button#signBtn.btn.btn-info(type="button") Sign (PGP/MIME)
                  .form-check.form-check-inline.form-switch
                    input#toggleEditor.form-check-input(type="checkbox", role="switch", checked)
                    label.form-check-label(for="toggleEditor") Sign message
              .card-footer
                .input-group
                  label.input-group-text Time (ms):
                  input#encryptTime.form-control(disabled)
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Decrypt message
              .card-body
                textarea#armored_msg.form-control.mb-3(rows="12", style="width: 100%")
                .button-toolbar
                  button#decryptBtn.btn.btn-primary(type="button") Decrypt
              .card-footer
                .input-group
                  label.input-group-text Time in (ms):
                  input#decryptTime.form-control(disabled)
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Decrypted message in DisplayContainer
              .card-body
                #display_cont(style="height: 450px")
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Import public key
              .card-body
                textarea#armored_key.form-control.mb-3(rows="12", style="width: 100%")
                .button-toolbar
                  button#importBtn.btn.btn-primary(type="button") Import
              .card-footer
                .input-group
                  label.input-group-text Result status:
                  input#importStatus.form-control(disabled)
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Backup server sync
              .card-body
                textarea#backupServerSync.form-control.mb-3(rows="12", style="width: 100%")
                .form-check.form-check-inline
                  input#downloadBackupFail.form-check-input(type="checkbox")
                  label.form-check-label(for="downloadBackupFail") Download backup fail
                .form-check.form-check-inline
                  input#uploadBackupFail.form-check-input(type="checkbox")
                  label.form-check-label(for="uploadBackupFail") Upload backup fail
              .card-footer
                .input-group
                  label.input-group-text eTag:
                  input#eTag.form-control
                  button#generateEtagBtn.btn.btn-primary(type="button") Generate
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal KeyGen &amp; PrivateKeyBackup Generator
              .card-body
                #private_key_backup_cont.mb-1(style="height: 350px")
                .btn-group.mt-4(role="group")
                  button#createKeyGenGeneratorBtn.btn.btn-outline-primary(type="button") create KeyGen Container
                  button#generateGeneratorBtn.btn.btn-outline-secondary(type="button", disabled) generate
                  button#createKeyBackupContainerBtn.btn.btn-outline-secondary(type="button") create Backup
                  button#recreateKeyBackupContainerBtn.btn.btn-outline-secondary(type="button") recreate Backup
                .btn-group.mt-4(role="group")
                  button#restoreBackupContainerBtn.btn.btn-outline-secondary(type="button") restore Backup
                  button#restorePasswordContainerBtn.btn.btn-outline-secondary(type="button") restore Password
                .form-check.mt-4
                  input#confirmKeyGen.form-check-input(type="checkbox")
                  label.form-check-label(for="confirmKeyGen") Confirm key upload
                .form-check
                  input#rejectKeyGen.form-check-input(type="checkbox")
                  label.form-check-label(for="rejectKeyGen") Reject key upload
              .card-footer
                .input-group
                  label.input-group-text Time (ms):
                  input#confirmDelay.form-control(disabled)
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Check if keyring has private key for given fingerprint
              .card-body
                .alert.alert-info(role="alert") Copy the fingerprint from your mailvelope extension
                .mb-3
                  label.form-label(for="fingerprintInput") Fingerprint
                  input#fingerprintInput.form-control(type="text")
                .button-toolbar
                  button#hasPrivateKeyBtn.btn.btn-primary(type="button") Check
              .card-footer
                .input-group
                  label.input-group-text Result:
                  input#hasPrivateKey_cont.form-control(disabled)
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Open Settings
              .card-body
                #settings(style="height: 700px; width: 100%")
              .card-footer
                .btn-group(role="group")
                  button#openSettingsBtn.btn.btn-outline-primary(type="button") Open Settings in Tab
                  button#openIframeSettingsBtn.btn.btn-outline-primary(type="button") Open Settings in iFrame
                  button#showDefaultKeyBtn.btn.btn-outline-primary(type="button") Show default key in Tab
            .card.mb-5.rounded-3.shadow-sm
              .card-header.py-3
                h4.my-0.fw-normal Add domain to authorized domain list
              .card-body
                p Request inclusion in the authorized domain list of Mailvelope. A confirmation popup will be displayed to the user. Please delete the default entry "Mailvelope Demo" from authorized domains before testing.
              .card-footer
                button#addDomain.btn.btn-primary(type="button") Add domain
      #disconnectModal.modal.fade(tabindex="-1")
        .modal-dialog
          .modal-content
            .modal-header
              h5.modal-title Disconnect Event
            .modal-body
              p Event "mailvelope-disconnect" triggered due to extension update
              .mb-3
                label.form-label New version
                input#newVersion.form-control(disabled)
            .modal-footer
              button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
