doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="javascripts/jquery-2.1.1.min.js")
    script(src="javascripts/mailvelope-settings-test.js")
  body
    .container
      .row
        .col-md-6
          h2 Manual Tests
        .col-md-6
          a.btn.btn-default(href="/") Back to start page
      .row
        .col-md-2
          a.btn.btn-default(href="#", id="openSettings") Open Settings
      .row
        .col-md-12(id="settings", style="height: 700px; width: 100%")
