doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-switch.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-3.3.1.min.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/bootstrap-switch.min.js")
    script(src="javascripts/mailvelope-wc-test.js")
  body
    .container
      .row
        .col-sm-8
          h2 Web Components Tests
        .col-sm-4
          p.text-right
            a.btn.btn-default(href="/") Back to start page

      p
        .btn-group
          button#clearBtn.btn.btn-default Clear
          button#restoreDraftBtn.btn.btn-default Restore draft

      .panel.panel-default
        .panel-heading
          h3.panel-title Encrypt message:
        .panel-body
          .row
            .col-sm-6
              .form-group
                .input-group
                  span.input-group-addon From:
                  input#senderAddress(value="test@mailvelope.com").form-control
            .col-sm-6
              .form-group
                .input-group
                  span.input-group-addon To:
                  input#toAddress(value="test@mailvelope.com").form-control

          #editorCont(style="height: 350px;margin:1em 0")
          .form-group
            input#toggleEditor(type="checkbox" name="my-checkbox" checked)
            button#encryptBtn.btn.btn-primary Encrypt
            button#draftBtn.btn.btn-default Create draft

        .panel-footer
          .form-group
            .input-group
              span.input-group-addon Time in (ms):
              input#encryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypt message:
        .panel-body
          .form-group
            .input-group
              span.input-group-btn
                button#decryptBtn.btn.btn-primary Decrypt
              span.input-group-addon Time in (ms):
              input#decryptTime(disabled).form-control
        .panel-heading
          h3.panel-title Decrypted message in openpgp-email-read component
        .panel-body
          #display_cont(style="height: 350px")

      #disconnectModal.modal.fade(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Disconnect Event
            .modal-body
              p Event "mailvelope-disconnect" triggered due to extension update
              .form-group
                label.control-label New version
                input#newVersion.form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Close
