/**
 * Generic messages
 */
.message {
    padding:1em;
}
html.no-js .no-js.message {
    display:block;
}
html .no-js.message {
    display:none;
}

/**
 * Default element style
 */
pgp-encrypted-form {
    display:block;
    width: 100%;
    min-height:3em;
}
pgp-encrypted-form form {
    display:none;
}

/**
 * Pre-style element prior registration
 */
pgp-encrypted-form:after {
    position:absolute;
    content: 'Loading...';
}

/**
 * Pre-style element prior Mailvelope API available
 */
pgp-encrypted-form.loading:after {
    position:absolute;
    content: 'Loading...';
}

/**
 * Style of element after registration
 */
.no-js pgp-encrypted-form.loading:after,
.no-js pgp-encrypted-form:after,
pgp-encrypted-form.defined:after,
pgp-encrypted-form.error:after {
    position:absolute;
    content: '';
}
