body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel .panel-body .navbar-static-top {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-group {
  margin-bottom: .5em;
}

.bootstrap-switch {
  margin-right: 1em;
}
