doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/pgp-encrypted-form.css')
    script(src="../javascripts/jquery-2.1.1.min.js")
    script(src='../javascripts/custom-elements.min.js')
    script(src='../javascripts/form-test.js')
  body
    .container
      h2 Mailvelope Encrypted form
      br
      pgp-encrypted-form#examplePgpForm(signature="" hash="SHA1")
        form(data-url="demo.mailvelope.com" class="form-horizontal" data-recipient="test@mailvelope.com")
