extends common.jade
block form
  pgp-encrypted-form#examplePgpForm(signature="iLMEAQEKAB0WIQSqHgF3S999dqRb3C3xHbElDDw/GwUCWqJuxgAKCRDxHbElDDw/GyKBA/9RQrUw/Bz0Dniu9/pD7J5b1Rijzs/351UpkBd91DoRVm7KI6pZvKafYUtxVv2SRrwApDYu2A3+g5Dp1oin73GEox7CVN9Sqs1laxIyiMewamdqiQHk/JMPT678MORp1efd8wzG2b4OAH3YI790/XDSztUPY6xy2Yl0k4X5ZRhqMQ===E+T9" hash="SHA1")
    form(data-url="demo.mailvelope.com" class="form-horizontal" data-recipient='invalid@email')
      .form-group
        label.col-sm-2.control-label(for=exampleInputEmail1) Email
        .col-sm-10
          input#exampleInputEmail1(type="email" class="form-control" placeholder="Email")
