extends common.jade
block form
  pgp-encrypted-form#examplePgpForm(signature="_TODO_" hash="SHA1")
    form(data-url="demo.mailvelope.com" data-recipient="test@mailvelope.com")
    form(data-url="demo.mailvelope.com" data-recipient="test@mailvelope.com")
