extends common.jade
block form
  pgp-encrypted-form#examplePgpForm(signature="iMgEAQEKADIWIQSqHgF3S999dqRb3C3xHbElDDw/GwUCWrzyFBQcdGVzdEBtYWlsdmVsb3BlLmNvbQAKCRDxHbElDDw/G/gdA/9uPRJ7p1wKq7W8FVMaJnp52TmotT4fMLdq7tsu7PD6fZlDmCrFaOly2vgQ6SAPv2APgTd8vg7m0ApCJWCII6Ju030tXnSUndmZWy5jNGzIIi9Tz8L799v579qRp36shnmw1i4YzmN0m93cAuYsMSiRcibp5nqAonA8xPhNR0IwOw===hb6s" hash="SHA1")
    form(data-url="demo.mailvelope.com" data-recipient="test@mailvelope.com")
