extends common.jade
block form
    openpgp-encrypted-form#form-8phQ(signature='wpwEAQEIABAFAluRHQ0JEPEdsSUMPD8bAACXeAP/RdoZjfAmsOfUtuMbJqEBsvOTmrrSMYho4GLvnMHaT1tNjmUci/kcG2/VIpYtTSqLVxBNg5gGQiRhh0AO8aR+guv6G5vuiRc7j0t3WsHIfRG7P2xP+q7Y9jdO/ave8jCLgiQY1nKuJi/r/BUfc+Y2OyPBWkq5vTbtxwNyrfFQGWU==8phQ')
      script(type='text/template').
        <form data-action="https://demo.mailvelope.com/form/" data-recipient="test@mailvelope.com" class="needs-validation"><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Mailvelope-logo.svg" alt="remote image"><div class="form-group"><label for="validationCustomSimple">How are you?</label><div class="input-group"><input id="validationCustomSimple" type="text" required="" name="validationCustomSimple" value="cofveve" class="form-control"><div class="invalid-feedback">Please say something?</div></div></div></form>
