doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    h2 Mailvelope Form (Thank you page)
    br
    p.bg-success(style='padding:1em')
        | Success: the mailvelope the form was successfully posted and user was redirected here.
        | Original posted content is bellow
    pre
        = armoredData
