extends common.jade
block form
  pgp-encrypted-form#examplePgpForm(signature="_TODO_" hash="SHA1")
    form.needs-validation(novalidate='' data-recipient="test@mailvelope.com")
      .form-group.form-row
        .col-md-4.mb-3
          label(for='validationCustomSimple') How are you?
          .input-group
            input#validationCustomSimple.form-control(type='text', required='', name='validationCustomSimple', value='cofveve')
            .invalid-feedback
              | Please say something?
