extends common.pug
block form
  openpgp-encrypted-form#examplePgpForm(signature="iMgEAQEKADIWIQSqHgF3S999dqRb3C3xHbElDDw/GwUCWrzkZBQcdGVzdEBtYWlsdmVsb3BlLmNvbQAKCRDxHbElDDw/G0s4A/9oc0wNbMt5YieMpMrmLdbsg6HE1/vAlA8q2RcUUfM6uGyukj34cuFjWGObWyviesWVFCK39FEnfnA+6jeLIBx+V/p0+wroPMKkOcjmTxFXXkUrm45S/jCvkPZshwjaaVKoStS0rOblLWi6arNin/AsCurqe6TWBSnspRIp0EePXg===T151")
    script(type="text/template")
      form.needs-validation(novalidate='' data-recipient="test@mailvelope.com")
        .form-group.form-row
          .col-md-4.mb-3
            label(for='validationCustomSimple') How are you?
            .input-group
              input#validationCustomSimple.form-control(type='text', required='', name='validationCustomSimple', value='cofveve')
              .invalid-feedback
                | Please say something?
