extends common.jade
block form
  pgp-encrypted-form#examplePgpForm(signature="wpwEAQEIABAFAlsPvNQJEPEdsSUMPD8bAACrIgQAi6V6ouOeXxaTn5sWvixAwkfrhJ8MpncQqkoYuF3z7d2GtqcRVQWK9IM2tm2+Ns8pgWpXiGNy4hMMWG/kx0xomt3WpSMPO0D3vpMCnPcuJC38RfV4p3kRBOpF9CAZatXJlRCc2lhK3gnPTBFz/d3N10iu9wqwmUXYjYtzB/1hLoE==r1g8")
    script(type="text/template")
      form.needs-validation(novalidate='' data-action="https://demo.mailvelope.com/form/" data-recipient="test@mailvelope.com")
        .form-group
          label(for='validationCustomSimple') How are you?
          .input-group
            input#validationCustomSimple.form-control(type='text', required='', name='validationCustomSimple', value='cofveve')
            .invalid-feedback
              | Please say something?
