extends common.pug
block form
  openpgp-encrypted-form#examplePgpForm(signature="iMgEAQEKADIWIQSqHgF3S999dqRb3C3xHbElDDw/GwUCWvvKGxQcdGVzdEBtYWlsdmVsb3BlLmNvbQAKCRDxHbElDDw/G63qA/9IBvulwPib+hUaXxP7Qjijfyk4uZv13i9rx8lMWOnRupzznEwuQAGW7DaCG2wugrBp52Ie4q0fwbVqnYkMUKix1AlGZXau3DaBRlIh3w48Cg8AK6iAeMJGvB6D7PhnYaWTQeMbaWykig1gqJEymEcr+05M2DP/1BKUX9SKvFFarQ===jkUI")
    script(type="text/template")
      form.needs-validation(novalidate='' data-enctype="html" data-url="demo.mailvelope.com" data-recipient="test@mailvelope.com")
        .form-group
          .custom-file
            input#validatedCustomFile.custom-file-input(type='file', required='' name='fileExample' multiple='')
            label.custom-file-label(for='validatedCustomFile') Choose file...
            .invalid-feedback Example invalid custom file feedback
